.main {
  width: 50%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
textarea {
  font-size: 20px;
  margin: 3px;
  padding: 10px;
  border: none;
  background-color: rgb(224, 230, 252);
  border-radius: 5px;
}

.form textarea {
  height: 150px;
  font-size: 20px;
  margin: 3px;
  padding: 10px;
  border: none;
  background-color: rgb(224, 230, 252);
  border-radius: 5px;
}

.form-btn {
  color: white;
  font-size: 20px;
  margin: 3px;
  padding: 10px;
  border: none;
  background-color: rgb(13, 39, 208);
  border-radius: 5px;
  cursor: pointer;
  height: 55px;
}
